<div class="row">
  <div class="col-md-4 col-md-offset-4 page-header">
    Create New Wiki
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @wiki do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki contents" %>
       </div>
       <% if current_user.premium? || current_user.admin?%>
         <div class="form-group">
           <%= f.label :private%>
           <%= f.check_box :private %>
         </div>
      <% end %>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success btn-block' %>
       </div>
     <% end %>

  </div>
</div>
